/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.fs-image-gallery-preview {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	container-type: inline-size;

	&__item {
		width: 100%;
		display: block;
		text-decoration: none;
		max-width: 250px;
		position: relative;

		&__remove {
			position: absolute;
			top: 0;
			right: 0;
			font-weight: 900;
			background-color: black;
			color: white!important;
		}

		&__image {
			width: 100%;
			padding-bottom: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&__caption {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 14px;
			text-align: left;
			padding: 4px;
			width: 100%;
			box-sizing: border-box;
		}
	}
}

.fs-image-gallery--caption-style--none .fs-image-gallery-preview__item__caption {
	display: none;
}
.fs-image-gallery--caption-style--overlay .fs-image-gallery-preview__item__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.fs-image-gallery--caption-style--below .fs-image-gallery-preview__item__caption {
	margin-top: 8px;
}