/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-fsig-fs-image-gallery {
	padding: 2px;
}

.fs-image-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	container-type: inline-size;

	&__item {
		width: 100%;
		display: block;
		text-decoration: none;
		position: relative;

		&__image {
			width: 100%;
			padding-bottom: 100%;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		&__caption {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 14px;
			text-align: left;
			padding: 4px;
			width: 100%;
			box-sizing: border-box;

			&:hover {
				overflow: visible;
				text-overflow: unset;
				-webkit-line-clamp: unset;

			}
		}
	}
}

.fs-image-gallery--caption-style--none .fs-image-gallery__item__caption {
	display: none;
}
.fs-image-gallery--caption-style--overlay .fs-image-gallery__item__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}
.fs-image-gallery--caption-style--below .fs-image-gallery__item__caption {
	margin-top: 8px;
}

.fs-image-gallery-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;

	&__content {
		display: flex;
		justify-content: center;
	}

	&__image-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__caption {
		color: white;
		text-align: center;
		margin-top: 10px;
		font-size: 16px;
	}

	&__image {
		max-width: 90%;
		max-height: 90%;
	}

	&__close {
		position: absolute;
		top: 50px;
		right: 50px;
		font-weight: 900;
		background-color: transparent;
		cursor: pointer;

		span {
			display: block;
			width: 30px;
			height: 4px;
			background-color: white;
			margin: 6px 0;
			transform-origin: center;
		}

		span:nth-child(1) {
			transform: rotate(45deg) translate(5px, 1px)
		}
		span:nth-child(2) {
			transform: rotate(-45deg) translate(6px, -1px);
		}
	}

	&__next,
	&__prev {
		position: absolute;
		height: 80vh;
		bottom: 10vh;
		opacity: 0.1;
		font-size: 100px;
		cursor: pointer;
		&:hover {
			opacity: 0.3;
		}
	}
	&__next {
		right: 0;
	}
	&__prev {
		left: 0;
	}
}

@container (min-width: 400px) {
	.fs-image-gallery__item {
		width: calc(50% - 8px);
	}
}

@container (min-width: 768px) {
	.fs-image-gallery__item {
		width: calc(33.333% - 10.666px);
	}
}

@container (min-width: 1024px) {
	.fs-image-gallery__item {
		width: calc(25% - 12px);
	}
}